@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Unbounded:wght@200..900&display=swap");

::-webkit-scrollbar {
  display: none;
}

$width: 60px;
$height: 60px;
$quantity: 15;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // font-family: "Kanit", sans-serif;
  font-family: "Comfortaa", sans-serif;
}

#dark {
  color: #fff;
  background-color: #333;
}

#light {
  color: #333;
  background-color: #cecef7;
}

// #dark #nav {
//   color: #fff;
//   background-color: #333;
// }

#light #nav {
  color: #333;
  background-color: #fff;
}

.jump-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.jumper-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  padding-left: 15px;

  // position: absolute;
  overflow: visible;
}
// path.getTotalLength() wiill give you path length
$len: 136.71884155273438px;
$time: 1.2s;

.jumper {
  fill: none;
  stroke: #142d4c;
  stroke-width: 10px;
  stroke-dashoffset: 0;
  stroke-dasharray: 0, $len;
  animation: animJumper $time linear infinite;

  &.clone {
    opacity: 0.2;
    // transform-origin for svg bugged in ff, so i'm using translateY hack
    transform: translateY(200px) scaleY(-1);
  }
}
.circleL {
  opacity: 0;
  transform-origin: 47.2px 95.6px;
  animation: animCircle $time infinite;
}
.circleR {
  opacity: 0;
  transform-origin: 136.2px 95.6px;
  animation: animCircle $time $time * 0.56 infinite;
}

@keyframes animJumper {
  8% {
    stroke-dasharray: $len * 0.15, $len;
  }
  32% {
    stroke-dasharray: $len * 0.3, $len;
    stroke-dashoffset: $len * -0.35;
  }
  56% {
    stroke-dasharray: $len * 0.15, $len;
    stroke-dashoffset: $len * -0.85;
  }
  64% {
    stroke-dasharray: 0, $len;
    stroke-dashoffset: -$len;
  }
}

@keyframes animCircle {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// .check-out {
//   position: absolute;
//   bottom: 0.5rem;
//   left: 50%;
//   transform: translateX(-50%);
//   font-size: 2rem;
//   color: #fff;
// }

.container {
  width: 1300px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  cursor: default;
  height: 90px;
  line-height: 3.5em;
}
#nav ul {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav li {
  display: inline-block;
  padding-left: 0;
}
#nav a {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: block;
  text-decoration: none;
  outline: 0;
  font-weight: 600;
  border-radius: 8px;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
}
#nav a:hover {
  color: #fff !important;
  background: #383838;
}
#nav a.active {
  background: #484848;
}
#nav a.active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  // background-position: scroll;
  // background-size: contain;
  // background-repeat: no-repeat;
  background-attachment: fixed;
  // color: #b4b4fa;
  position: relative;
}

.custom-shape-divider-bottom-1726045774 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1726045774 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}
.custom-shape-divider-bottom-1726045774 .home-fill {
  fill: #edd9be;
  transition: all 0.3s ease;
}
.custom-shape-divider-bottom-1726045774 .skills-fill {
  fill: #ebcca3;
  transition: all 0.3s ease;
}

.custom-shape-divider-top-1726062737 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1726062737 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 51px;
}
.custom-shape-divider-top-1726062737 .shape-fill {
  fill: #ffffff;
}

#dark #home {
  background-color: #333;
}
#dark .home-fill {
  fill: #252424;
}
#dark .skills-section {
  background-color: #252424;
}
#dark .skills-fill {
  fill: #1b1a1a;
}
#dark #projects {
  background-color: #1b1a1a;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Comfortaa", sans-serif;
}

#home {
  min-height: 100vh;
  background-color: #f4eee4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  transition: all 0.3s ease;
}
.home-content {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
}
.avatar {
  height: 100%;
  width: 30%;
  border: 1px solid red;
}
.about {
  height: 100%;
  width: 70%;
}

.toggle {
  position: fixed;
  right: 12px;
  top: 30px;
  --size: 2rem;

  appearance: none;
  outline: none;
  cursor: pointer;

  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(240, 100%, 95%);

  transition: all 500ms;

  &:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);

    transform: scale(0.75);
    color: hsl(40, 89%, 60%);
    box-shadow: inset 0 0 0 var(--size),
      calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
      var(--offset-orthogonal) 0 0 var(--ray-size),
      0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
      0 var(--offset-orthogonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
        var(--ray-size),
      var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
      var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
  }
}

.toggle {
  z-index: 3;
  &:checked {
    & ~ .background {
      --bg: white;
    }
    & ~ .title {
      --color: hsl(40, 89%, 60%);
    }
  }
}

.skills-section {
  background-color: #edd9be;
  transition: all 0.3s ease;
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0px;
}
.padder {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  padding: 16px 0px 20px;
  // background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  margin-top: 30px;
}
.showbox {
  overflow: hidden;
  height: 60px;
  transition: height 0.6s ease;
  cursor: pointer;
  width: 100%;
}
.showbox.skills-grid-container {
  height: 252px;
}
.skills-grid {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  transition: height 0.3s ease-in-out;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid-item img {
  transition: transform 0.3s ease;
}
.grid-item:hover img {
  transform: scale(1.1);
}
.skills-grid.scale {
  transform: scale(1);
}
.skill-img {
  width: 60px;
  height: 60px;
  margin-bottom: 7px;
}
.slider {
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(60px * $quantity);
  position: relative;
}
.slider .list .item {
  width: 60px;
  height: 60px;
  transition: scale 0.3s ease;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / $quantity) * (var(--position) - 1) - 10s
  ) !important;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(60px * -5);
  }
}
// .slider:hover .item {
//   animation-play-state: paused !important;
//   filter: grayscale(1);
// }
.slider .item:hover {
  // filter: grayscale(0);
  transform: scale(1.04);
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px;
  background-color: #ebcca3;
  transition: all 0.3s ease;
}
.blob {
  position: sticky;
  top: 5%;
  z-index: 1;
  border: 1px solid red;
}
.projects-list {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 120px;
  position: relative;
  z-index: 2;
}
.project-item {
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
}
.project-item.reverse {
  flex-direction: row;
}

.project-item.is-visible {
  opacity: 1;
  transform: translateX(0);
}
.project-item.is-visible-last {
  opacity: 1;
  // transform: translateX(50%);
}

.screen {
  // background-color: #fff;
  width: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // border-bottom: 1.5px solid rgb(219, 229, 230);
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.screen.reverse {
  justify-content: start;
}
.screen::before {
  content: "";
  width: 100%;
  height: 40px;
  // background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 1;
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
// .screen:hover .project-pic {
//   transform: scale(1.03);
// }
#dark .screen {
  // background-color: #484848;
}
.project-pic {
  width: 420px;
  height: 230px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
.pc {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.tab {
  height: 81%;
  width: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mobile {
  height: 68%;
  width: 21%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.project-info {
  width: 100%;
}

.project-name {
  margin-bottom: 16px;
  letter-spacing: 1.4px;
  font-family: "Comfortaa", sans-serif;
  color: #fd4659;
}

.tech-list {
  margin-bottom: 16px;
  display: flex;
}
ul {
  list-style: none;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 1280px;
  }
  .project-pic {
  }
}

@media screen and (max-width: 1410px) {
  .container {
    width: 1100px;
  }

  .showbox.skills-grid-container {
    height: 222px;
  }
  .skills-grid {
    gap: 50px;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    width: 950px;
  }

  .showbox.skills-grid-container {
    height: 212px;
  }
  .skills-grid {
    gap: 40px;
  }

  .projects-list {
  }
  .screen {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .custom-shape-divider-bottom-1726045774 svg {
    height: 50px;
  }

  .container {
    width: 700px;
  }

  .showbox.skills-grid-container {
    height: 358px;
  }
  .skills-grid {
    gap: 50px;
  }

  .projects-list {
    gap: 80px;
  }
  .project-pic {
    width: 300px;
    height: 170px;
  }
  .project-info {
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 500px;
  }

  .showbox.skills-grid-container {
    height: 442px;
  }
  .skills-grid {
    gap: 33px;
  }

  .project-item,
  .project-item.reverse {
    flex-direction: column;
  }
  .screen,
  .screen.reverse {
    justify-content: center;
  }

  .projects-list {
    grid-template-columns: repeat(1, 1fr);
    // gap: 30px;
  }
  .project-pic {
    width: 100%;
    height: 270px;
  }
  .project-info {
    padding: 24px 0px 30px;
  }
}

@media screen and (max-width: 520px) {
  .custom-shape-divider-bottom-1726045774 svg {
    height: 35px;
  }

  .container {
    width: 356px;
  }
  .showbox {
    height: 50px;
    width: 100%;
  }
  .showbox.skills-grid-container {
    height: 502px;
  }
  .skills-grid {
    gap: 34px;
  }
  .skill-img {
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
  }
  .slider .list {
    min-width: calc(50px * $quantity);
  }
  .slider .list .item {
    width: 50px;
    height: 50px;
    animation-delay: calc(
      (10s / $quantity) * (var(--position) - 1) - 10s
    ) !important;
  }
  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(50px * -5);
    }
  }
  .label {
    font-size: 14px;
  }

  .project-pic {
    height: 200px;
  }
  .project-info {
    padding: 24px 0px 30px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 320px;
  }

  .project-pic {
    height: 180px;
  }
  .project-info {
    padding: 24px 0px 30px;
  }
}
