@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Unbounded:wght@200..900&display=swap");

::-webkit-scrollbar {
  display: none;
}

$width: 60px;
$height: 60px;
$quantity: 15;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // font-family: "Kanit", sans-serif;
  font-family: "Comfortaa", sans-serif;
}

#dark {
  color: #f4eee4;
  background-color: #333;
}

#light {
  color: #572c23;
  background-color: #f4eee4;
}

// #dark #nav {
//   color: #fff;
//   background-color: #333;
// }

#light #nav {
  color: #333;
  background-color: #fff;
}

.jump-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.jumper-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  padding-left: 15px;

  // position: absolute;
  overflow: visible;
}
// path.getTotalLength() wiill give you path length
$len: 136.71884155273438px;
$time: 1.2s;

.jumper {
  fill: none;
  stroke: #572c23;
  stroke-width: 10px;
  stroke-dashoffset: 0;
  stroke-dasharray: 0, $len;
  animation: animJumper $time linear infinite;

  &.clone {
    opacity: 0.2;
    // transform-origin for svg bugged in ff, so i'm using translateY hack
    transform: translateY(200px) scaleY(-1);
  }
}
.circleL {
  opacity: 0;
  transform-origin: 47.2px 95.6px;
  animation: animCircle $time infinite;
}
.circleR {
  opacity: 0;
  transform-origin: 136.2px 95.6px;
  animation: animCircle $time $time * 0.56 infinite;
}

@keyframes animJumper {
  8% {
    stroke-dasharray: $len * 0.15, $len;
  }
  32% {
    stroke-dasharray: $len * 0.3, $len;
    stroke-dashoffset: $len * -0.35;
  }
  56% {
    stroke-dasharray: $len * 0.15, $len;
    stroke-dashoffset: $len * -0.85;
  }
  64% {
    stroke-dasharray: 0, $len;
    stroke-dashoffset: -$len;
  }
}

@keyframes animCircle {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// .check-out {
//   position: absolute;
//   bottom: 0.5rem;
//   left: 50%;
//   transform: translateX(-50%);
//   font-size: 2rem;
//   color: #fff;
// }
.main {
  position: relative;
}

.hamburger {
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 7;
  right: 10px;
  cursor: pointer;
}

.nav-link {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  width: fit-content;
  padding-bottom: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0;
  background-color: #fd4659;
  // transform: translateX(-50%);
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 105%;
}
.nav-link:hover {
  transform: translateX(10px);
}
.nav-link.active::after {
  width: 100%;
  background-color: #fd4659;
}

.container {
  width: 1300px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  // background-position: scroll;
  // background-size: contain;
  // background-repeat: no-repeat;
  background-attachment: fixed;
  // color: #b4b4fa;
  position: relative;
}

.custom-shape-divider-bottom-1726045774 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1726045774 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}
.custom-shape-divider-bottom-1726045774 .home-fill {
  fill: #edd9be;
  transition: all 0.3s ease;
}
.custom-shape-divider-bottom-1726045774 .skills-fill {
  fill: #ebcca3;
  transition: all 0.3s ease;
}
.custom-shape-divider-bottom-1726045774 .projects-fill {
  fill: #eebf83;
  transition: all 0.3s ease;
}

#dark #home {
  // background-color: #333;
  background-color: #331914;
}
#dark .home-fill {
  // fill: #252424;
  fill: #23110e;
}
#dark .skills-section {
  // background-color: #252424;
  background-color: #23110e;
}
#dark .skills-fill {
  // fill: #1b1a1a;
  // fill: #130908;
  fill: #190d0c;
}
#dark #projects {
  // background-color: #1b1a1a;
  background-color: #190d0c;
}
#dark .projects-fill {
  fill: #0c0605;
}
#dark .footer {
  background-color: #0c0605;
}
.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Comfortaa", sans-serif;
  color: #fd4659;
  border-bottom: 5px solid chocolate;
  padding-bottom: 6px;
  width: fit-content;
}

#home {
  min-height: 100vh;
  background-color: #f4eee4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  transition: all 0.3s ease;
}
.home-content {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
}
.my-name {
  color: #fd4659;
}
.toggle {
  --size: 1.7rem;

  appearance: none;
  outline: none;
  cursor: pointer;

  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(240, 100%, 95%);

  transition: all 500ms;

  &:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);

    transform: scale(0.75);
    color: hsl(40, 89%, 60%);
    box-shadow: inset 0 0 0 var(--size),
      calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
      var(--offset-orthogonal) 0 0 var(--ray-size),
      0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
      0 var(--offset-orthogonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
        var(--ray-size),
      var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
      var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
  }
}

.toggle {
  // z-index: 3;
  &:checked {
    & ~ .background {
      --bg: white;
    }
    & ~ .title {
      --color: hsl(40, 89%, 60%);
    }
  }
}

.skills-section {
  background-color: #edd9be;
  transition: all 0.3s ease;
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0px 150px;
}

.about {
  line-height: 30px;
  width: 75%;
}
.strike {
  text-decoration: line-through;
}
.padder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  // align-items: center;
  padding: 0 0 20px 0;
  // background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  margin-top: 30px;
}
.grid-toggler {
  font-weight: 700;
  margin-bottom: 16px;
  padding-bottom: 4px;
  width: fit-content;
  border-bottom: 3px solid chocolate;
}
.showbox {
  overflow: hidden;
  height: 60px;
  transition: height 0.6s ease;
  cursor: pointer;
  width: 100%;
}
.showbox.skills-grid-container {
  height: 252px;
}
.skills-grid {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  transition: height 0.3s ease-in-out;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid-item img {
  transition: transform 0.3s ease;
}
.grid-item:hover img {
  transform: scale(1.1);
}
.label {
  font-size: 14px;
  font-weight: 900;
}
.skills-grid.scale {
  transform: scale(1);
}
.skill-img {
  width: 60px;
  height: 60px;
  margin-bottom: 7px;
}
.slider {
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(60px * $quantity);
  position: relative;
}
.slider .list .item {
  width: 60px;
  height: 60px;
  transition: scale 0.3s ease;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / $quantity) * (var(--position) - 1) - 10s
  ) !important;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(60px * -5);
  }
}
// .slider:hover .item {
//   animation-play-state: paused !important;
//   filter: grayscale(1);
// }
.slider .item:hover {
  // filter: grayscale(0);
  transform: scale(1.04);
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0px 150px;
  background-color: #ebcca3;
  transition: background-color 0.3s ease;
}
.blob {
  position: sticky;
  top: 5%;
  z-index: 1;
  border: 1px solid red;
}
.projects-list {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 120px;
  position: relative;
  z-index: 2;
}
.project-item {
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
}
.project-item.reverse {
  flex-direction: row;
}

.project-item.is-visible {
  opacity: 1;
  transform: translateX(0);
}
.project-item.is-visible-last {
  opacity: 1;
  // transform: translateX(50%);
}

.screen {
  // background-color: #fff;
  width: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // border-bottom: 1.5px solid rgb(219, 229, 230);
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.screen.reverse {
  justify-content: start;
}
.screen::before {
  content: "";
  width: 100%;
  height: 40px;
  // background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 1;
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

// #dark .screen {
//   background-color: #484848;
// }
.project-pic {
  width: 420px;
  height: 230px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
.pc {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.tab {
  height: 81%;
  width: 38%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mobile {
  height: 68%;
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.gear {
  height: 30%;
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.spanner {
  height: 68%;
  width: 18%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.spanner2 {
  height: 30%;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: -2;
}
.gear2 {
  height: 68%;
  width: 18%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}
.project-info {
  width: 100%;
}
.name-line {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
.dash {
  width: 24px;
  height: 3px;
  margin-right: 10px;
  transform: translateY(-1px);
  background-color: chocolate;
}
.project-name {
  letter-spacing: 1.4px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  color: #fd4659;
}
.project-details {
  margin-bottom: 16px;
  line-height: 24px;
  font-weight: 700;
}

.info-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}
.with {
  color: #fd4659;
  font-weight: 700;
}

.tech-list {
  display: flex;
  // background-color: rgb(201, 195, 88);
  border-bottom: 3px solid chocolate;
  width: fit-content;
  padding: 10px 0;
}
.tech-img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  // color: #28727c;
}

.project-link {
  width: 100px;
  height: 40px;
  padding-bottom: 2px;
  background-color: #fd4659;
  border-radius: 10px;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.project-link:hover {
  transform: scale(1.1);
}
.project-link a {
  color: #f4eee4;
  text-decoration: none;
}
#dark .project-link a {
  color: #f4eee4;
}

ul {
  list-style: none;
}

.footer {
  background-color: #eebf83;
  padding: 90px 0px 150px;
  transition: background-color 0.3s ease;
}

.form-label {
  margin-bottom: 18px;
}
#name,
#email,
#message {
  margin-bottom: 4px;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  padding: 0 18px;
  color: #572c23;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  border: none;
  background-color: #f4eee4;
}
#message {
  padding: 16px 18px;
  height: 100px;
}
#name::placeholder {
  color: #888;
  font-weight: 500;
  font-style: italic;
}
#email::placeholder {
  color: #888;
  font-weight: 500;
  font-style: italic;
}
#message::placeholder {
  color: #888;
  font-weight: 600;
  font-style: italic;
}
#name:focus {
  border: 2px solid #fd4659;
  outline: none;
}
#email:focus {
  border: 2px solid #fd4659;
  outline: none;
}
#message:focus {
  border: 2px solid #fd4659;
  outline: none;
}

.error {
  font-size: 14px;
  font-weight: 700;
  color: hsl(0, 100%, 66%);
}
button {
  background-color: #fd4659;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  color: #f4eee4;
  transition: color 0.3s ease, transform 0.3s ease;
}
button:hover {
  transform: scale(1.06);
}
#dark button {
  color: #f4eee4;
}

.popup {
  background-color: #f4eee4;
}
.popup-txt {
  color: #fd4659;
  font-weight: 700;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 1280px;
  }
  .project-pic {
  }
}

@media screen and (max-width: 1410px) {
  .container {
    width: 1100px;
  }

  .showbox.skills-grid-container {
    height: 222px;
  }
  .skills-grid {
    gap: 50px;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    width: 950px;
  }

  .showbox.skills-grid-container {
    height: 212px;
  }
  .skills-grid {
    gap: 40px;
  }

  .screen {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .custom-shape-divider-bottom-1726045774 svg {
    height: 50px;
  }

  .container {
    width: 700px;
  }

  .about {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .showbox.skills-grid-container {
    height: 358px;
  }
  .skills-grid {
    gap: 50px;
  }

  .projects-list {
    gap: 80px;
  }
  .project-pic {
    width: 300px;
    height: 170px;
  }
  .project-info {
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 500px;
  }

  .showbox.skills-grid-container {
    height: 442px;
  }
  .skills-grid {
    gap: 33px;
  }

  .project-item,
  .project-item.reverse {
    flex-direction: column;
  }
  .screen,
  .screen.reverse {
    justify-content: center;
  }

  .projects-list {
    grid-template-columns: repeat(1, 1fr);
    // gap: 30px;
  }
  .project-pic {
    width: 100%;
    height: 270px;
  }
  .project-info {
    padding: 24px 0px 30px;
  }
}

@media screen and (max-width: 520px) {
  .custom-shape-divider-bottom-1726045774 svg {
    height: 35px;
  }

  .container {
    width: 356px;
  }
  .showbox {
    height: 50px;
    width: 100%;
  }
  .showbox.skills-grid-container {
    height: 502px;
  }
  .skills-grid {
    gap: 34px;
  }
  .skill-img {
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
  }
  .slider .list {
    min-width: calc(50px * $quantity);
  }
  .slider .list .item {
    width: 50px;
    height: 50px;
    animation-delay: calc(
      (10s / $quantity) * (var(--position) - 1) - 10s
    ) !important;
  }
  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(50px * -5);
    }
  }
  .label {
    font-size: 14px;
  }

  .project-pic {
    height: 200px;
  }
  .project-info {
    padding: 24px 0px 30px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 320px;
  }

  .project-pic {
    height: 180px;
  }
  .project-info {
    padding: 24px 0px 30px;
  }
}
